<section
  class="h-[70vh] flex flex-row justify-center items-center gap-12 bg-[#f3f1ec]"
>
  <div class="max-w-xl flex flex-col gap-y-5 border-l-3 border-[#B68A5A] pl-8">
    <h2 class="font-bold text-[2.5rem] leading-slug w-xl">
      Gestionar una biblioteca nunca había sido tan sencillo...
    </h2>
    <p class="text-pretty text-text-secondar w-lg text-lg">
      Deja atrás las hojas de cálculo y los sistemas antiguos. <span
        class="font-semibold"
        >Library Manager
      </span>
      {" "}
      centraliza la gestión de libros, ejemplares, usuarios y préstamos en una única
      plataforma rápida, organizada y fácil de utilizar.
    </p>
  </div>
  <img
    src="https://placehold.net/600x400.png"
    alt="placeholder"
    class="rounded shadow-lg h-90 w-auto"
  />
</section>
