---
import Logo from "../assets/logo.svg";
---

<header
  class="fixed top-0 w-full justify-center items-center flex h-15 backdrop-blur-lg z-50"
>
  <nav class="w-full">
    <div class="flex items-center justify-between px-24">
      <a href="/" class="flex items-center gap-3">
        <Logo class="w-10 h-10" />
        <span class="font-semibold text-lg"> Library Manager </span>
      </a>

      <ul class="flex items-center gap-x-6">
        <li>
          <a href="/">Inicio</a>
        </li>
        <li>
          <a href="/">Funcionalidades</a>
        </li>
        <li>
          <a href="/">Contacto</a>
        </li>
        <li>
          <a href="https://github.com/DavidSarabiaGonzalez/Library-Manager">
            Github
          </a>
        </li>
        <li>
          <a href="/">Política de privacidad</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<style>
  a {
    margin-right: 1rem;
  }
</style>
