<section
  class="h-100 flex flex-col justify-center items-center gap-y-8 text-text-primary"
>
  <h1 class="font-bold text-5xl w-[50vw] text-center text-pretty">
    Empieza a Transformar tu Biblioteca Hoy Mismo
  </h1>
  <button
    class="bg-primary font-semibold cursor-pointer p-3 mr-6 rounded text-white text-lg hover:scale-110 hover:bg-primary-dark transition-all"
    >Crear Cuenta Gratuitamente</button
  >
</section>
