@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #2563eb;
  --color-primary-dark: #1e40af;
  --color-background: #f8fafc;
  --color-surface: #ffffff;

  --color-text-primary: #0f172a;
  --color-text-secondary: #64748b;

  --color-border: #e2e8f0;

  --color-bg-primary: #f8fafc;
  --color-bg-page: #fefcf8;
  --color-surfaces: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}
